/* Global Stylings */
@import 'components/base';

/* Components */
@import 'components/nav';
.section {
    form {
        margin-bottom: 36px;
        input {
            outline: none;
        }
        input[type=text] {
            border: solid $primary-color-4 1px;
            font-size: 0.95em;
            transition: all 0.2s;
            color: $primary-color-1;
            font-family: $font-stack;
            padding: 8px;
            width: 55%;
            max-width: 350px;
        }
        input[type=submit] {
            -webkit-appearance: none;
            -webkit-border-radius: 0;
            border-radius: 0;
            outline: none;
            border: none;
            color: $white-text;
            background-color: $accent-color-blue;
            font-size: 0.9em;
            padding: 10px 20px;
            cursor: pointer;
            transition: all 0.2s;
            box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.25);
            border-radius: 2px;
        }
        input[type=submit]:hover {
            background-color: $accent-color-blue-highlight;
        }
        input[type=text]:focus, input[type=email]:focus, textarea:focus {
            border-color: $accent-color-blue;
        }
    }
}


.result-body {
    .result-item {
        margin-bottom: 24px;
        h2 {
            color: $primary-color-1;
            transition: all 0.2s;
            margin-bottom: 2px;
        }
        .search-link {
            color: $accent-color-blue;
            font-size: 0.8em;
            margin-bottom: 8px;
        }
        .search-excerpt {

        }
        &:hover h2 {
            color: $accent-color-blue;
        }
    }
}